    * {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 0;
        margin: 0;
        border-width: 0;
    }
    
    body {
        background-color: black;
    }
    
    h3,
    #main {
        color: lightblue;
    }
    
    img {
        height: 200px;
    }
    
    #main,
    #bio {
        margin: 10px 10px;
    }
    
    p {
        font-size: 16px;
        color: white;
    }
    
    #portfolio div {
        border-color: whitesmoke;
        border-width: 2px;
        border-style: solid;
        margin: 10px 10px;
        padding: 10px 10px;
    }
    
    #portfolio {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }